body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #659999;
  background-image: linear-gradient(160deg, #659999 0%, #f4791f 100%);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  margin-bottom:-30px;
}
